@font-face {
    font-family: "Poppins";
    src: url(./Poppins-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: "Poppins";
    src: url(./Poppins-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: "Poppins";
    src: url(../Poppins-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Poppins";
    src: url(../Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url(../Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: url(../Poppins-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Poppins";
    src: url(../Poppins-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Poppins";
    src: url(../Poppins-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: "Poppins";
    src: url(../Poppins-Black.ttf);
    font-weight: 900;
}

:root {
    --main-c100: #252422;
    --main-c66: #403D39;
    --main-c33: #CCC5B9;
    --main-c0: #FFFCF2;
}

* {  margin: 0; padding: 0; box-sizing: border-box; scrollbar-width: none; list-style: none;}
*::-webkit-scrollbar {display: none;}

body, main {
    font-family: "Poppins";
    color:var(--main-c0);
    background: var(--main-c100);
  }
