@font-face {
  font-family: 'Poppins-Regular';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'griffiths';
  src: url('/fonts/griffiths.otf') format('opentype');
}

body {
  background-color: #252422;
  color: #FFFFFF;
  font-family: 'Poppins-Regular', sans-serif;
  
}

